* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
  color: var(--base-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--base-text-color);
}
.page-section {
  display: flex;
  justify-content: center;
}
.text-ligth {
  font-weight: 300;
}
