* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}
.clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock_content {
  font-size: max(50px, 10vh);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
