*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: rgb(107, 15, 182);
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(44, 43, 43);
}
.sing-in-form{
  width: 400px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 25px 25px;
  text-align: center;
}
.header-form{
  color:rgb(107, 15, 182);
}
.field-form{
  width: 350px;
  padding: 10px 15px;
  background: rgb(238, 237, 236);
  border: 1px solid grey;
  border-radius: 10px;
  outline: none;
}
.field-wrapper{
  margin-bottom: 15px;
}
.btn{
  width: 350px;
  padding: 12px 15px;
  background:rgb(107, 15, 182);;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  border: none;
}
.btn:hover{
  color: rgb(218, 216, 150);
  background: rgb(167, 110, 221);
}
.button-wrapper{
  margin: 20px 0px
}
.link{
  font-size: 12px;
  text-decoration: none;
}